SUBGRAPH_URL=https://gateway.thegraph.com/api/<API_KEY>/deployments/id/<DEPLOYMENT_ID>
DIAMOND_CONTRACT_ADDRESS=0x...
RPC_URL=https://base-mainnet.g.alchemy.com/v2/<API_KEY>
USER_ADDRESS=0x...
PIX_PROXY_URL=
